<!DOCTYPE html>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{name}} Monitor: {{age}} {{weight}} {{height}} {{szopas_ota}}</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<html>
<body>
<table width=100%>
<tr>
<td>
<form action="" method="post" id="frissit">
    <input type="submit" value="Frissit" name="plot_frissit">
</form>
<form action="" method="post" id="vissza">
    <input type="submit" value="Vissza" name="vissza">
</form> 
<br><img src="napirend.png" alt="napirend?" width="800" height="2000">
<br>
<form action="" method="post" id="vissza">
    <input type="submit" value="Vissza" name="vissza">
</form>




</td>


</body>
</html>
